=begin
#QuantiModo

#QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do), check out our [docs](https://github.com/QuantiModo/docs) or contact us at [help.quantimo.do](https://help.quantimo.do). 

OpenAPI spec version: 2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class MeasurementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get measurement sources
    # Returns a list of all the apps from which measurement data is obtained.
    # @param [Hash] opts the optional parameters
    # @return [MeasurementSource]
    def v1_measurement_sources_get(opts = {})
      data, _status_code, _headers = v1_measurement_sources_get_with_http_info(opts)
      return data
    end

    # Get measurement sources
    # Returns a list of all the apps from which measurement data is obtained.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MeasurementSource, Fixnum, Hash)>] MeasurementSource data, response status code and response headers
    def v1_measurement_sources_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurement_sources_get ..."
      end
      # resource path
      local_var_path = "/v1/measurementSources".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MeasurementSource')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurement_sources_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a data source
    # Add a life-tracking app or device to the QuantiModo list of data sources.
    # @param body An array of names of data sources you want to add.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [nil]
    def v1_measurement_sources_post(body, opts = {})
      v1_measurement_sources_post_with_http_info(body, opts)
      return nil
    end

    # Add a data source
    # Add a life-tracking app or device to the QuantiModo list of data sources.
    # @param body An array of names of data sources you want to add.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_measurement_sources_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurement_sources_post ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling MeasurementsApi.v1_measurement_sources_post" if body.nil?
      # resource path
      local_var_path = "/v1/measurementSources".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurement_sources_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get daily measurements for this user
    # Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. Supported filter parameters:<ul><li><b>value</b> - Value of measurement</li><li><b>updatedAt</b> - The time that this measurement was created or last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li></ul>
    # @param variable_name Name of the variable you want measurements for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :unit_abbreviated_name The unit your want the measurements in
    # @option opts [String] :start_time The lower limit of measurements returned (UTC Iso8601 \&quot;YYYY-MM-DDThh:mm:ss\&quot; format)
    # @option opts [String] :end_time The upper limit of measurements returned (UTC Iso8601 \&quot;YYYY-MM-DDThh:mm:ss\&quot; format)
    # @option opts [Integer] :grouping_width The time (in seconds) over which measurements are grouped together
    # @option opts [String] :grouping_timezone The time (in seconds) over which measurements are grouped together
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Measurement]
    def v1_measurements_daily_get(variable_name, opts = {})
      data, _status_code, _headers = v1_measurements_daily_get_with_http_info(variable_name, opts)
      return data
    end

    # Get daily measurements for this user
    # Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. Supported filter parameters:&lt;ul&gt;&lt;li&gt;&lt;b&gt;value&lt;/b&gt; - Value of measurement&lt;/li&gt;&lt;li&gt;&lt;b&gt;updatedAt&lt;/b&gt; - The time that this measurement was created or last updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;&lt;/li&gt;&lt;/ul&gt;
    # @param variable_name Name of the variable you want measurements for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :unit_abbreviated_name The unit your want the measurements in
    # @option opts [String] :start_time The lower limit of measurements returned (UTC Iso8601 \&quot;YYYY-MM-DDThh:mm:ss\&quot; format)
    # @option opts [String] :end_time The upper limit of measurements returned (UTC Iso8601 \&quot;YYYY-MM-DDThh:mm:ss\&quot; format)
    # @option opts [Integer] :grouping_width The time (in seconds) over which measurements are grouped together
    # @option opts [String] :grouping_timezone The time (in seconds) over which measurements are grouped together
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Array<(Measurement, Fixnum, Hash)>] Measurement data, response status code and response headers
    def v1_measurements_daily_get_with_http_info(variable_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_daily_get ..."
      end
      # verify the required parameter 'variable_name' is set
      fail ArgumentError, "Missing the required parameter 'variable_name' when calling MeasurementsApi.v1_measurements_daily_get" if variable_name.nil?
      # resource path
      local_var_path = "/v1/measurements/daily".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'variableName'] = variable_name
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'unitAbbreviatedName'] = opts[:'unit_abbreviated_name'] if !opts[:'unit_abbreviated_name'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'groupingWidth'] = opts[:'grouping_width'] if !opts[:'grouping_width'].nil?
      query_params[:'groupingTimezone'] = opts[:'grouping_timezone'] if !opts[:'grouping_timezone'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Measurement')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_daily_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a measurement
    # Delete a previously submitted measurement
    # @param body The startTime and variableId of the measurement to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [CommonResponse]
    def v1_measurements_delete_post(body, opts = {})
      data, _status_code, _headers = v1_measurements_delete_post_with_http_info(body, opts)
      return data
    end

    # Delete a measurement
    # Delete a previously submitted measurement
    # @param body The startTime and variableId of the measurement to be deleted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonResponse, Fixnum, Hash)>] CommonResponse data, response status code and response headers
    def v1_measurements_delete_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_delete_post ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling MeasurementsApi.v1_measurements_delete_post" if body.nil?
      # resource path
      local_var_path = "/v1/measurements/delete".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CommonResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get measurements for this user
    # Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. Supported filter parameters:<ul><li><b>value</b> - Value of measurement</li><li><b>updatedAt</b> - The time that this measurement was created or last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li></ul>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Measurement id
    # @option opts [String] :variable_name Name of the variable you want measurements for
    # @option opts [String] :variable_category_name Name of the variable category you want measurements for
    # @option opts [String] :source_name ID of the source you want measurements for (supports exact name match only)
    # @option opts [String] :value Value of measurement
    # @option opts [String] :unit_abbreviated_name The unit you want the measurements returned in
    # @option opts [String] :earliest_measurement_time The lower limit of measurements returned in ISO 8601 format or epoch seconds (unixtime)
    # @option opts [String] :latest_measurement_time The upper limit of measurements returned in ISO 8601 format or epoch seconds (unixtime)
    # @option opts [String] :created_at The time the measurement record was first created in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.
    # @option opts [String] :updated_at The time the measurement record was last changed in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.
    # @option opts [Integer] :grouping_width The time (in seconds) over which measurements are grouped together
    # @option opts [String] :grouping_timezone The time (in seconds) over which measurements are grouped together
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Measurement]
    def v1_measurements_get(opts = {})
      data, _status_code, _headers = v1_measurements_get_with_http_info(opts)
      return data
    end

    # Get measurements for this user
    # Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. Supported filter parameters:&lt;ul&gt;&lt;li&gt;&lt;b&gt;value&lt;/b&gt; - Value of measurement&lt;/li&gt;&lt;li&gt;&lt;b&gt;updatedAt&lt;/b&gt; - The time that this measurement was created or last updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;&lt;/li&gt;&lt;/ul&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Measurement id
    # @option opts [String] :variable_name Name of the variable you want measurements for
    # @option opts [String] :variable_category_name Name of the variable category you want measurements for
    # @option opts [String] :source_name ID of the source you want measurements for (supports exact name match only)
    # @option opts [String] :value Value of measurement
    # @option opts [String] :unit_abbreviated_name The unit you want the measurements returned in
    # @option opts [String] :earliest_measurement_time The lower limit of measurements returned in ISO 8601 format or epoch seconds (unixtime)
    # @option opts [String] :latest_measurement_time The upper limit of measurements returned in ISO 8601 format or epoch seconds (unixtime)
    # @option opts [String] :created_at The time the measurement record was first created in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.
    # @option opts [String] :updated_at The time the measurement record was last changed in the format YYYY-MM-DDThh:mm:ss. Time zone should be UTC and not local.
    # @option opts [Integer] :grouping_width The time (in seconds) over which measurements are grouped together
    # @option opts [String] :grouping_timezone The time (in seconds) over which measurements are grouped together
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Array<(Measurement, Fixnum, Hash)>] Measurement data, response status code and response headers
    def v1_measurements_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_get ..."
      end
      # resource path
      local_var_path = "/v1/measurements".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'variableName'] = opts[:'variable_name'] if !opts[:'variable_name'].nil?
      query_params[:'variableCategoryName'] = opts[:'variable_category_name'] if !opts[:'variable_category_name'].nil?
      query_params[:'sourceName'] = opts[:'source_name'] if !opts[:'source_name'].nil?
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'unitAbbreviatedName'] = opts[:'unit_abbreviated_name'] if !opts[:'unit_abbreviated_name'].nil?
      query_params[:'earliestMeasurementTime'] = opts[:'earliest_measurement_time'] if !opts[:'earliest_measurement_time'].nil?
      query_params[:'latestMeasurementTime'] = opts[:'latest_measurement_time'] if !opts[:'latest_measurement_time'].nil?
      query_params[:'createdAt'] = opts[:'created_at'] if !opts[:'created_at'].nil?
      query_params[:'updatedAt'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'groupingWidth'] = opts[:'grouping_width'] if !opts[:'grouping_width'].nil?
      query_params[:'groupingTimezone'] = opts[:'grouping_timezone'] if !opts[:'grouping_timezone'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Measurement')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post a new set or update existing measurements to the database
    # You can submit or update multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\"measurements\":[{\"startTime\":1439389320,\"value\":\"3\"}, {\"startTime\":1439389319,\"value\":\"2\"}],\"name\":\"Acne (out of 5)\",\"source\":\"QuantiModo\",\"category\":\"Symptoms\",\"combinationOperation\":\"MEAN\",\"unit\":\"/5\"}]
    # @param body An array of measurements you want to insert.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [nil]
    def v1_measurements_post(body, opts = {})
      v1_measurements_post_with_http_info(body, opts)
      return nil
    end

    # Post a new set or update existing measurements to the database
    # You can submit or update multiple measurements in a \&quot;measurements\&quot; sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\&quot;measurements\&quot;:[{\&quot;startTime\&quot;:1439389320,\&quot;value\&quot;:\&quot;3\&quot;}, {\&quot;startTime\&quot;:1439389319,\&quot;value\&quot;:\&quot;2\&quot;}],\&quot;name\&quot;:\&quot;Acne (out of 5)\&quot;,\&quot;source\&quot;:\&quot;QuantiModo\&quot;,\&quot;category\&quot;:\&quot;Symptoms\&quot;,\&quot;combinationOperation\&quot;:\&quot;MEAN\&quot;,\&quot;unit\&quot;:\&quot;/5\&quot;}]
    # @param body An array of measurements you want to insert.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_measurements_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_post ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling MeasurementsApi.v1_measurements_post" if body.nil?
      # resource path
      local_var_path = "/v1/measurements".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get measurements range for this user
    # Get Unix time-stamp (epoch time) of the user's first and last measurements taken.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sources Enter source name to limit to specific source (varchar)
    # @option opts [Integer] :user If not specified, uses currently logged in user (bigint)
    # @return [MeasurementRange]
    def v1_measurements_range_get(opts = {})
      data, _status_code, _headers = v1_measurements_range_get_with_http_info(opts)
      return data
    end

    # Get measurements range for this user
    # Get Unix time-stamp (epoch time) of the user&#39;s first and last measurements taken.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sources Enter source name to limit to specific source (varchar)
    # @option opts [Integer] :user If not specified, uses currently logged in user (bigint)
    # @return [Array<(MeasurementRange, Fixnum, Hash)>] MeasurementRange data, response status code and response headers
    def v1_measurements_range_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_range_get ..."
      end
      # resource path
      local_var_path = "/v1/measurementsRange".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'sources'] = opts[:'sources'] if !opts[:'sources'].nil?
      query_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MeasurementRange')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_range_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a measurement
    # Delete a previously submitted measurement
    # @param body The id as well as the new startTime, note, and/or value of the measurement to be updated
    # @param [Hash] opts the optional parameters
    # @return [CommonResponse]
    def v1_measurements_update_post(body, opts = {})
      data, _status_code, _headers = v1_measurements_update_post_with_http_info(body, opts)
      return data
    end

    # Update a measurement
    # Delete a previously submitted measurement
    # @param body The id as well as the new startTime, note, and/or value of the measurement to be updated
    # @param [Hash] opts the optional parameters
    # @return [Array<(CommonResponse, Fixnum, Hash)>] CommonResponse data, response status code and response headers
    def v1_measurements_update_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v1_measurements_update_post ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling MeasurementsApi.v1_measurements_update_post" if body.nil?
      # resource path
      local_var_path = "/v1/measurements/update".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CommonResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v1_measurements_update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Measurements CSV
    # Download a CSV containing all user measurements
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [File]
    def v2_measurements_csv_get(opts = {})
      data, _status_code, _headers = v2_measurements_csv_get_with_http_info(opts)
      return data
    end

    # Get Measurements CSV
    # Download a CSV containing all user measurements
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def v2_measurements_csv_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v2_measurements_csv_get ..."
      end
      # resource path
      local_var_path = "/v2/measurements/csv".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['text/csv']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v2_measurements_csv_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post Request for Measurements CSV
    # Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Integer]
    def v2_measurements_request_csv_post(opts = {})
      data, _status_code, _headers = v2_measurements_request_csv_post_with_http_info(opts)
      return data
    end

    # Post Request for Measurements CSV
    # Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def v2_measurements_request_csv_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v2_measurements_request_csv_post ..."
      end
      # resource path
      local_var_path = "/v2/measurements/request_csv".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v2_measurements_request_csv_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post Request for Measurements PDF
    # Use this endpoint to schedule a PDF export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Integer]
    def v2_measurements_request_pdf_post(opts = {})
      data, _status_code, _headers = v2_measurements_request_pdf_post_with_http_info(opts)
      return data
    end

    # Post Request for Measurements PDF
    # Use this endpoint to schedule a PDF export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def v2_measurements_request_pdf_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v2_measurements_request_pdf_post ..."
      end
      # resource path
      local_var_path = "/v2/measurements/request_pdf".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v2_measurements_request_pdf_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post Request for Measurements XLS
    # Use this endpoint to schedule a XLS export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Integer]
    def v2_measurements_request_xls_post(opts = {})
      data, _status_code, _headers = v2_measurements_request_xls_post_with_http_info(opts)
      return data
    end

    # Post Request for Measurements XLS
    # Use this endpoint to schedule a XLS export containing all user measurements to be emailed to the user within 24 hours.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(Integer, Fixnum, Hash)>] Integer data, response status code and response headers
    def v2_measurements_request_xls_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MeasurementsApi.v2_measurements_request_xls_post ..."
      end
      # resource path
      local_var_path = "/v2/measurements/request_xls".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Integer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MeasurementsApi#v2_measurements_request_xls_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
