=begin
#QuantiModo

#QuantiModo makes it easy to retrieve normalized user data from a wide array of devices and applications. [Learn about QuantiModo](https://quantimo.do), check out our [docs](https://github.com/QuantiModo/docs) or contact us at [help.quantimo.do](https://help.quantimo.do). 

OpenAPI spec version: 2.0

Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class VariablesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get public variables
    # This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Common variable id
    # @option opts [String] :category Filter data by category
    # @option opts [String] :name Original name of the variable (supports exact name match only)
    # @option opts [String] :updated_at Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
    # @option opts [String] :latest_measurement_time Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :number_of_raw_measurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
    # @option opts [String] :last_source Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Variable]
    def v1_public_variables_get(opts = {})
      data, _status_code, _headers = v1_public_variables_get_with_http_info(opts)
      return data
    end

    # Get public variables
    # This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Common variable id
    # @option opts [String] :category Filter data by category
    # @option opts [String] :name Original name of the variable (supports exact name match only)
    # @option opts [String] :updated_at Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
    # @option opts [String] :latest_measurement_time Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :number_of_raw_measurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
    # @option opts [String] :last_source Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Array<(Variable, Fixnum, Hash)>] Variable data, response status code and response headers
    def v1_public_variables_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_public_variables_get ..."
      end
      # resource path
      local_var_path = "/v1/public/variables".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'updatedAt'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'latestMeasurementTime'] = opts[:'latest_measurement_time'] if !opts[:'latest_measurement_time'].nil?
      query_params[:'numberOfRawMeasurements'] = opts[:'number_of_raw_measurements'] if !opts[:'number_of_raw_measurements'].nil?
      query_params[:'lastSource'] = opts[:'last_source'] if !opts[:'last_source'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Variable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_public_variables_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get top 5 PUBLIC variables with the most correlations
    # Get top 5 PUBLIC variables with the most correlations containing the entered search characters. For example, search for 'mood' as an effect. Since 'Overall Mood' has a lot of correlations with other variables, it should be in the autocomplete list.Supported filter parameters:<ul><li><b>category</b> - Category of Variable</li></ul>
    # @param search Search query can be some fraction of a variable name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :variable_category_name Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @option opts [String] :source Specify a data source name to only return variables from a specific data source.
    # @option opts [String] :effect_or_cause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
    # @option opts [String] :public_effect_or_cause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Variable]
    def v1_public_variables_search_search_get(search, opts = {})
      data, _status_code, _headers = v1_public_variables_search_search_get_with_http_info(search, opts)
      return data
    end

    # Get top 5 PUBLIC variables with the most correlations
    # Get top 5 PUBLIC variables with the most correlations containing the entered search characters. For example, search for &#39;mood&#39; as an effect. Since &#39;Overall Mood&#39; has a lot of correlations with other variables, it should be in the autocomplete list.Supported filter parameters:&lt;ul&gt;&lt;li&gt;&lt;b&gt;category&lt;/b&gt; - Category of Variable&lt;/li&gt;&lt;/ul&gt;
    # @param search Search query can be some fraction of a variable name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :variable_category_name Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @option opts [String] :source Specify a data source name to only return variables from a specific data source.
    # @option opts [String] :effect_or_cause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
    # @option opts [String] :public_effect_or_cause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Array<(Variable, Fixnum, Hash)>] Variable data, response status code and response headers
    def v1_public_variables_search_search_get_with_http_info(search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_public_variables_search_search_get ..."
      end
      # verify the required parameter 'search' is set
      fail ArgumentError, "Missing the required parameter 'search' when calling VariablesApi.v1_public_variables_search_search_get" if search.nil?
      # resource path
      local_var_path = "/v1/public/variables/search/{search}".sub('{format}','json').sub('{' + 'search' + '}', search.to_s)

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'variableCategoryName'] = opts[:'variable_category_name'] if !opts[:'variable_category_name'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'effectOrCause'] = opts[:'effect_or_cause'] if !opts[:'effect_or_cause'].nil?
      query_params[:'publicEffectOrCause'] = opts[:'public_effect_or_cause'] if !opts[:'public_effect_or_cause'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Variable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_public_variables_search_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete All Measurements For Variable
    # Users can delete all of their measurements for a variable
    # @param variable_id Id of the variable whose measurements should be deleted
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_user_variables_delete_post(variable_id, opts = {})
      v1_user_variables_delete_post_with_http_info(variable_id, opts)
      return nil
    end

    # Delete All Measurements For Variable
    # Users can delete all of their measurements for a variable
    # @param variable_id Id of the variable whose measurements should be deleted
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_user_variables_delete_post_with_http_info(variable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_user_variables_delete_post ..."
      end
      # verify the required parameter 'variable_id' is set
      fail ArgumentError, "Missing the required parameter 'variable_id' when calling VariablesApi.v1_user_variables_delete_post" if variable_id.nil?
      # resource path
      local_var_path = "/v1/userVariables/delete".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(variable_id)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_user_variables_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update User Settings for a Variable
    # Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.
    # @param user_variables Variable user settings data
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_user_variables_post(user_variables, opts = {})
      v1_user_variables_post_with_http_info(user_variables, opts)
      return nil
    end

    # Update User Settings for a Variable
    # Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.
    # @param user_variables Variable user settings data
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_user_variables_post_with_http_info(user_variables, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_user_variables_post ..."
      end
      # verify the required parameter 'user_variables' is set
      fail ArgumentError, "Missing the required parameter 'user_variables' when calling VariablesApi.v1_user_variables_post" if user_variables.nil?
      # resource path
      local_var_path = "/v1/userVariables".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(user_variables)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_user_variables_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset user settings for a variable to defaults
    # Reset user settings for a variable to defaults
    # @param variable_id Id of the variable that should be reset
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_user_variables_reset_post(variable_id, opts = {})
      v1_user_variables_reset_post_with_http_info(variable_id, opts)
      return nil
    end

    # Reset user settings for a variable to defaults
    # Reset user settings for a variable to defaults
    # @param variable_id Id of the variable that should be reset
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_user_variables_reset_post_with_http_info(variable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_user_variables_reset_post ..."
      end
      # verify the required parameter 'variable_id' is set
      fail ArgumentError, "Missing the required parameter 'variable_id' when calling VariablesApi.v1_user_variables_reset_post" if variable_id.nil?
      # resource path
      local_var_path = "/v1/userVariables/reset".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(variable_id)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_user_variables_reset_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Variable categories
    # The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @param [Hash] opts the optional parameters
    # @return [Array<VariableCategory>]
    def v1_variable_categories_get(opts = {})
      data, _status_code, _headers = v1_variable_categories_get_with_http_info(opts)
      return data
    end

    # Variable categories
    # The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VariableCategory>, Fixnum, Hash)>] Array<VariableCategory> data, response status code and response headers
    def v1_variable_categories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_variable_categories_get ..."
      end
      # resource path
      local_var_path = "/v1/variableCategories".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<VariableCategory>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_variable_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get variables with user's settings
    # Get variables for which the user has measurements. If the user has specified variable settings, these are provided instead of the common variable defaults.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Common variable id
    # @option opts [String] :category Filter data by category
    # @option opts [String] :name Original name of the variable (supports exact name match only)
    # @option opts [String] :updated_at Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
    # @option opts [String] :latest_measurement_time Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :number_of_raw_measurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
    # @option opts [String] :last_source Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Variable]
    def v1_variables_get(opts = {})
      data, _status_code, _headers = v1_variables_get_with_http_info(opts)
      return data
    end

    # Get variables with user&#39;s settings
    # Get variables for which the user has measurements. If the user has specified variable settings, these are provided instead of the common variable defaults.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [Integer] :id Common variable id
    # @option opts [String] :category Filter data by category
    # @option opts [String] :name Original name of the variable (supports exact name match only)
    # @option opts [String] :updated_at Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
    # @option opts [String] :latest_measurement_time Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
    # @option opts [String] :number_of_raw_measurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
    # @option opts [String] :last_source Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @option opts [Integer] :sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
    # @return [Array<(Variable, Fixnum, Hash)>] Variable data, response status code and response headers
    def v1_variables_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_variables_get ..."
      end
      # resource path
      local_var_path = "/v1/variables".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'category'] = opts[:'category'] if !opts[:'category'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'updatedAt'] = opts[:'updated_at'] if !opts[:'updated_at'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'latestMeasurementTime'] = opts[:'latest_measurement_time'] if !opts[:'latest_measurement_time'].nil?
      query_params[:'numberOfRawMeasurements'] = opts[:'number_of_raw_measurements'] if !opts[:'number_of_raw_measurements'].nil?
      query_params[:'lastSource'] = opts[:'last_source'] if !opts[:'last_source'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Variable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_variables_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Variables
    # Allows the client to create a new variable in the `variables` table.
    # @param body Original name for the variable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [nil]
    def v1_variables_post(body, opts = {})
      v1_variables_post_with_http_info(body, opts)
      return nil
    end

    # Create Variables
    # Allows the client to create a new variable in the &#x60;variables&#x60; table.
    # @param body Original name for the variable.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def v1_variables_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_variables_post ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling VariablesApi.v1_variables_post" if body.nil?
      # resource path
      local_var_path = "/v1/variables".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_variables_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get variables by search query
    # Get variables containing the search characters for which the currently logged in user has measurements. Used to provide auto-complete function in variable search boxes.
    # @param search Search query which may be an entire variable name or a fragment of one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :variable_category_name Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @option opts [BOOLEAN] :include_public Set to true if you would like to include public variables when no user variables are found.
    # @option opts [BOOLEAN] :manual_tracking Set to true if you would like to exlude variables like apps and website names.
    # @option opts [String] :source Specify a data source name to only return variables from a specific data source.
    # @option opts [String] :effect_or_cause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
    # @option opts [String] :public_effect_or_cause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @return [Array<Variable>]
    def v1_variables_search_search_get(search, opts = {})
      data, _status_code, _headers = v1_variables_search_search_get_with_http_info(search, opts)
      return data
    end

    # Get variables by search query
    # Get variables containing the search characters for which the currently logged in user has measurements. Used to provide auto-complete function in variable search boxes.
    # @param search Search query which may be an entire variable name or a fragment of one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @option opts [String] :variable_category_name Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
    # @option opts [BOOLEAN] :include_public Set to true if you would like to include public variables when no user variables are found.
    # @option opts [BOOLEAN] :manual_tracking Set to true if you would like to exlude variables like apps and website names.
    # @option opts [String] :source Specify a data source name to only return variables from a specific data source.
    # @option opts [String] :effect_or_cause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
    # @option opts [String] :public_effect_or_cause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
    # @option opts [Integer] :limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
    # @option opts [Integer] :offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
    # @return [Array<(Array<Variable>, Fixnum, Hash)>] Array<Variable> data, response status code and response headers
    def v1_variables_search_search_get_with_http_info(search, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_variables_search_search_get ..."
      end
      # verify the required parameter 'search' is set
      fail ArgumentError, "Missing the required parameter 'search' when calling VariablesApi.v1_variables_search_search_get" if search.nil?
      # resource path
      local_var_path = "/v1/variables/search/{search}".sub('{format}','json').sub('{' + 'search' + '}', search.to_s)

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'variableCategoryName'] = opts[:'variable_category_name'] if !opts[:'variable_category_name'].nil?
      query_params[:'includePublic'] = opts[:'include_public'] if !opts[:'include_public'].nil?
      query_params[:'manualTracking'] = opts[:'manual_tracking'] if !opts[:'manual_tracking'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'effectOrCause'] = opts[:'effect_or_cause'] if !opts[:'effect_or_cause'].nil?
      query_params[:'publicEffectOrCause'] = opts[:'public_effect_or_cause'] if !opts[:'public_effect_or_cause'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Variable>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_variables_search_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get info about a variable
    # Get all of the settings and information about a variable by its name. If the logged in user has modified the settings for the variable, these will be provided instead of the default settings for that variable.
    # @param variable_name Variable name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Variable]
    def v1_variables_variable_name_get(variable_name, opts = {})
      data, _status_code, _headers = v1_variables_variable_name_get_with_http_info(variable_name, opts)
      return data
    end

    # Get info about a variable
    # Get all of the settings and information about a variable by its name. If the logged in user has modified the settings for the variable, these will be provided instead of the default settings for that variable.
    # @param variable_name Variable name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :access_token User&#39;s OAuth2 access token
    # @option opts [Integer] :user_id User&#39;s id
    # @return [Array<(Variable, Fixnum, Hash)>] Variable data, response status code and response headers
    def v1_variables_variable_name_get_with_http_info(variable_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: VariablesApi.v1_variables_variable_name_get ..."
      end
      # verify the required parameter 'variable_name' is set
      fail ArgumentError, "Missing the required parameter 'variable_name' when calling VariablesApi.v1_variables_variable_name_get" if variable_name.nil?
      # resource path
      local_var_path = "/v1/variables/{variableName}".sub('{format}','json').sub('{' + 'variableName' + '}', variable_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'access_token'] = opts[:'access_token'] if !opts[:'access_token'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['access_token', 'quantimodo_oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Variable')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariablesApi#v1_variables_variable_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
